# ── Telegram ──────────────────────────────────────────────────────────────────
TELEGRAM_BOT_TOKEN=VOTRE_TOKEN_ICI
TELEGRAM_BOT_USERNAME=nom_du_bot
MANAGER_TELEGRAM_CHAT_ID=VOTRE_CHAT_ID
BASE_URL=https://ldc.lhspla-ci.org/support

# ── Base de données ──────────────────────────────────────────────────────────
DATABASE_URL=postgresql://localhost:5432/support_db
POSTGRES_DB=lab_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=7d12b33499a149589f605989f1332188


# Clé secrète JWT — 256 bits encodés Base64 (changer en production)
JWT_SECRET=bXlTdXBlclNlY3JldEtlZUZvckpXVEF1dGhlbnRpY2F0aW9uMjAyNkxhYk1hbmFnZW1lbnQ=


# ── Flask ────────────────────────────────────────────────────────────────────
FLASK_DEBUG=false
SECRET_KEY=AC9809517a7c843ce91cb7252de80d02f0fc77d35a95ca6964884d6462db2d8c27=
