<mat-toolbar>
  @if (showToggle) {
  <button mat-icon-button (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  } @if (showBranding) {
  <app-branding />
  }

  <span class="flex-fill"></span>

  <button mat-icon-button class="hide-small" (click)="toggleFullscreen()">
    <mat-icon>fullscreen</mat-icon>
  </button>

  <button mat-icon-button class="hide-small" (click)="toggleSidenavNotice.emit()">
    <mat-icon [matBadge]="count" [matBadgeHidden]="count === 0" matBadgeColor="warn" aria-hidden="false">notifications</mat-icon>
  </button>

  <app-user />

</mat-toolbar>
